[Unit]
Description=AFK watcher for ActivityWatch
Documentation=
After=aw-server.service

[Service]
Type=simple
ExecStart=/usr/bin/env aw-watcher-afk
Environment="DISPLAY=:0"
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=default.target
