git+https://github.com/ActivityWatch/aw-core.git@master#egg=aw-core
git+https://github.com/ActivityWatch/aw-client.git@master#egg=aw-client

pyobjc-framework-Quartz; sys_platform == 'darwin'
git+https://github.com/python-xlib/python-xlib.git@master#egg=python-xlib; sys_platform == 'linux'
git+https://github.com/ActivityWatch/PyUserInput.git@master#egg=pyuserinput;  sys_platform == 'linux'
